@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: #36384D;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    max-width: 800px;
    max-height: 500px;
    margin: 150px auto;
    border-radius: 20px;
    padding: 15px;
    gap: 50px;
}

.infos{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 20px;
}


.imagem{
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.imagem svg{
    max-width: 300px;
}

.imagem-mobile{
    display: none;
}

h1{
    color: #202442;
    font-size: 40px;
}

.infos{
    position:relative;
}

.infos-listas p{
    position: relative;
    top: -25px;
    left: 30px;
}

p .email{
    color: #202442;
    font-weight: 800;
}

input{
    border: 2px solid #36384d14;
    border-radius: 10px;
    padding: 20px;
    color: #36384d7c;
    font-size: 14px;
}

input:hover{
    border: 2px solid black;
    color: black;
}

button{
    background-color: #232742;
    border: none;
    border-radius: 10px ;
    padding: 20px;
    color: white;
    font-size: 14px;
}

button:hover{
    background: linear-gradient(to right, #FF576B, #FF6A3A);
    box-shadow: 2px 12px 12px #ff6b3a57;
}

.attribution,
.attribution a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.error{
    border: 2px solid #E37B72;
    background-color: #FFE8E6;
}

p#demo {
    position:absolute;
    color: #E37B72;
    top: 279px;
    left: 60%;
}


@media only screen and (max-width: 768px){
    body{
        background-color: white;
    }

    .imagem-mobile{
        display: flex;
    }

    .imagem{
        display: none;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: stretch;
        background-color: white;
        max-height: 1200px;
        margin: 0px auto;
        border-radius: 0px;
        padding: 0px;
        gap: 20px;
        flex-direction: column-reverse;
    }

    .imagem-mobile{
        width:100%;
    }

    .imagem-mobile img {
        position:relative;
        top:-20px;
        border-radius:30px;
        width:100%;
    }
    
    .infos{
        padding: 20px 30px;
    }

    .attribution{
        margin: 20px 0;
    }

    .attribution,
    .attribution a{
        color: black;
    }

    p#demo {
        top: 295px;
    }
    
}